// Variables
$primary-color: hsl(47, 88%, 63%);
$white-color: hsl(0, 0%, 100%);
$grey-color: hsl(0, 0%, 50%);
$black-color: hsl(0, 0%, 7%);
$red-color: red;
$font-family: 'Figtree', sans-serif;
$font-weight-normal: 500;
$font-weight-bold: 800;
$box-shadow: 7px 7px 0px 0px $black-color;
$border-radius: 10px;
$transition: 0.5s;
$paragraph-font-size: 12px;

// Global Styles
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	background-color: $primary-color;
	font-family: $font-family;
}

.attribution {
	font-size: $paragraph-font-size;
	text-align: center;

	a {
		color: $grey-color;
	}
}

.container {
	height: 97vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	background-color: $white-color;
	padding: 20px;
	width: 345px;
	height: 500px;
	border: 1px solid $black-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	overflow: auto;

	@media (max-width: 375px) {
		width: 88%;
	}
}

.head-img {
	width: 100%;
}

.box h2 {
	font-size: 18px;
	color: $black-color;
	background-color: $primary-color;
	width: 100px;
	height: 32px;
	text-align: center;
	border-radius: 5px;
	padding-top: 5px;
}

.content {
	h2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.title {
	h1 {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 25px;

		&:hover {
			color: $primary-color;
			cursor: pointer;
		}
	}

	p {
		color: $grey-color;
		margin-bottom: 20px;
	}
}

.greg {
	img {
		width: 35px;
		height: 35px;
		float: left;
	}

	h3 {
		margin-left: 50px;
		padding-top: 5px;
	}
}
